<!DOCTYPE html>
<html>

	<script type="text/javascript">
		var public_key = {{public_key}}
		var Balance = {{Balance}}
		var Transaction = {{Transaction}}
		var Messages = {{Messages}}
	</script>

	<body>

	<h1>Welcome, {{public_key}}</h1>
	<p>Balance: {{Balance}}</br></p>

	<h2>Transaction</h2>
	<form action="{{ url_for('create_transaction_login') }}" method="post">
    From: <input type="text" name="from"><br>
    To: <input type="text" name="to"><br>
    Amount: <input type="number" name="amount"><br>
    Private Key: <input type="text" name="private_key"><br>
    <input type="submit" value="submit">
	</form>

	<h3>Transactions Recieved</h3>
	<p>{{Transaction}}</p>

	<h2>Messages</h2>
	<form action="{{ url_for('send_message') }}" id="messageForm" method="post">
    From: <input type="text" name="mFrom"><br>
    To: <input type="text" name="mTo"><br>
    Message: <input type="text" name="Sent_Message"><br>
    Private Key: <input type="text" name="private_key"><br>
    <input type="submit" value="submit">
	</form>

	<h3>Messages Recieved</h3>
	<p>{{Messages}}</p>

	<h2>Contracts</h2>
	<form action="{{ url_for('create_contract') }}" id="contractForm" method="post">
    Public Key: <input type="text" name="public_Key"><br>
    Private Key: <input type="text" name="private_key"><br>
    Contract Name: <input type="text" name="Name"><br>
    <input type="submit" value="submit">
	</form>
	<textarea rows="100" cols="100" name="Contract" form="contractForm">Enter the Contract here...</textarea>

	

	</body>

</html>